body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 400px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="time"] {
    width: 100%;  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .flex > div {
    flex: 1;
  }
  
  .btn {
    background-color: lightgreen;
    padding: 10px 15px;
    margin: 20px auto 0;
    width: 100%;
    display: block;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(97, 244, 97);
  }
  